.mensaje-bienvenida-videowall-asistencia{
  position: fixed; /* Posición fija para que se mantenga en la ventana */
  bottom: 0; /* Alinear en la parte inferior */
  left: 0; /* Alinear a la izquierda */
  width: 9vw;
  height: 38vh;
  margin-left: 0.35vw;
  margin-bottom: 0.1vw;
  padding: 0.9%;
  background-color: white;
  border: 1px solid #e84ea0;
  border-radius: 55px;
  font-family: "Karla", sans-serif;
  color: black;
  animation: appearFromCenter 0.5s ease forwards; /* Aplicar animación */
  z-index: 20;
}

.checkmark-asistencia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -45vh;
  width: 9vw;
  height: 15vh;
  margin-top: 10vh;
  margin-left: -0.25vw;
}

.titulo-mensaje-bienvenida-videowall-asistencia {
    font-weight: bold;
    font-size: 0.6vw;
    width: 10vw;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    line-height: 95%;
    text-align: center;
}

.alerta-videowall-primera-mitad-asistencia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



@keyframes appearFromCenter {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


  @media (max-width: 2000px) {

    .mensaje-bienvenida-videowall-asistencia{
      position: fixed; /* Posición fija para que se mantenga en la ventana */
      bottom: 0; /* Alinear en la parte inferior */
      left: 0; /* Alinear a la izquierda */
      width: 13vw;
      height: 20vh;
      margin-left: 0.35vw;
      margin-bottom: 0.1vw;
      padding: 0.9%;
      background-color: white;
      border: 1px solid #e84ea0;
      border-radius: 55px;
      font-family: "Karla", sans-serif;
      color: black;
      animation: appearFromCenter 0.5s ease forwards; /* Aplicar animación */
      z-index: 20;
    }

    .titulo-mensaje-bienvenida-videowall-asistencia {
      font-weight: bold;
      font-size: 0.6vw;
      width: 10vw;
      height: 38vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 11.5vh;
      padding-left: 2vw;
      padding-right: 2vw;
      line-height: 95%;
      text-align: center;
  }
  }

  
/*Pantalla regular (computadora)*/
@media (max-height: 700px) {
  .mensaje-bienvenida-videowall-asistencia{
    position: fixed; /* Posición fija para que se mantenga en la ventana */
    bottom: 0; /* Alinear en la parte inferior */
    left: 0; /* Alinear a la izquierda */
    width: 9vw;
    height: 38vh;
    margin-left: 0.35vw;
    margin-bottom: 0.1vw;
    padding: 0.9%;
    background-color: white;
    border: 1px solid #e84ea0;
    border-radius: 55px;
    font-family: "Karla", sans-serif;
    color: black;
    animation: appearFromCenter 0.5s ease forwards; /* Aplicar animación */
    z-index: 20;
  }
}