.round-button {
     width: 20%;
     min-width: 10%;
     max-width: 80%;
     height: 5vh !important;
     background-color: white;
 }
 
 .buttonlabel {
     font-size: max(2vh, 1vw);
     font-weight: 700;
     color: #042e55;
 }
 
 @media screen and (max-width: 700px) and (min-width: 481px) {
 
 .round-button {
      width: 40%;
      }
 }
 
 @media screen and (max-width: 480px) {
 
 .round-button {
      width: 100%;
      }
 .buttonlabel {
      font-size: max(2vh, 2vw);
      font-weight: 700;
      color: #042e55;
      }
 }