.container {
	display: flex;
	justify-content: center; /* Optional here */
	width: 100%; /* Set the container to take up the full width */
	height: auto;

    flex-grow: 1;
    margin: 0 auto;
    padding-right: 90px;
}
.outer-container{
    padding-top: 20vh;
    display: flex;

}

.nombre-sala {
	color: white;
	font-size: 2rem;
	font-weight: 500;
}

.model {
    width: 70%;
    height: auto;
}

.card-container {
	width: 70%; /* Set the left section to 70% width */
	padding-bottom: 1vh; /* Existing padding */
	display: flex; /* Make the card container a flexbox container */
	flex-direction: column;
	justify-content: center; /* Center content horizontally within the card container */
	align-items: center; /* Center content vertically within the card container */
}

.form-container {
	width: 30%; /* Set the right section to 30% width */
	display: flex;
    
	flex-direction: column;
	gap: 10%; /* Existing styles */
}

.form-container {
	display: flex; /* Make the form container a flexbox for vertical arrangement */
	flex-direction: column; /* Stack elements vertically */
	gap: 10px; /* Add some space between elements within the form container */
}

.button-container {
	/* Optional styles for the button container - adjust as needed */
	text-align: center; /* Center the button horizontally */
}

.menu-lateral {
    z-index: 3;
    padding-top: 20vh;
    position: absolute;
    height: 80vh;

}

@media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center content vertically */
      margin: 0 auto;
      padding-right: 0;
    }
    .outer-container{
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center content vertically */
        margin: 0 auto;
    }
    
    .card-container,
    .form-container,
    .menu-lateral {
      width: 100%; /* Set all elements to full width on phone view */
    }
    
    .card-container {
      order: 1; /* Make card container appear first */
    }
    
    .menu-lateral {
      order: 2; /* Make menu lateral appear second */
      position: sticky; /* Maintain position relative to container */
      margin: 0 auto; /* Center horizontally */
    }
    
    .form-container {
      order: 3; /* Make form container appear last */
    }
  }

  .alerta {
    background-color: white;
    border-radius: 16px;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 8%;
    margin-bottom: 8%;

  }