.container {
    display: flex;
    justify-content: center; /* Optional here */
    flex-grow: 1;
    width: 100%; /* Set the container to take up the full width */
    height: auto;
    margin: 0 auto;
    padding-right: 90px;
    font-family: "Karla", sans-serif;
}
.outer-container {
    display: flex;
    padding-top: 18vh;
}

.model {
    width: 500px;
    height: 370px;
}

.card-container {
    display: flex; /* Make the card container a flexbox container */
    flex-direction: column;
    justify-content: center; /* Center content horizontally within the card container */
    align-items: center; /* Center content vertically within the card container */
    width: 70%; /* Set the left section to 70% width */
    padding-bottom: 1vh; /* Existing padding */
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10%; /* Existing styles */
    width: 30%; /* Set the right section to 30% width */
}

.form-container {
    display: flex; /* Make the form container a flexbox for vertical arrangement */
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add some space between elements within the form container */
}

.button-container {
    text-align: center; /* Center the button horizontally */
}

.menu-lateral {
    position: absolute;
    z-index: 3;
    padding-top: 20vh;
}

@media (max-width: 768px) {

    .model {
        width: 100%;
        padding: 10%;
    }
    .container {
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center content vertically */
        margin: 0 auto;
        padding-right: 0;
    }
    .outer-container {
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center content vertically */
        margin: 0 auto;
    }

    .card-container,
    .form-container,
    .menu-lateral {
        width: 100%; /* Set all elements to full width on phone view */
    }

    .card-container {
        order: 1; /* Make card container appear first */
    }

    .menu-lateral {
        order: 2; /* Make menu lateral appear second */
        position: sticky; /* Maintain position relative to container */
        margin: 0 auto; /* Center horizontally */
    }

    .form-container {
        order: 3; /* Make form container appear last */
    }
}
