
/* .container {
    display: flex;

    background-color: rgb(145, 145, 145);
} */
.SS-outer-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-family: "Karla", sans-serif;
    height: 100vh !important;
}

.SS-model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 75%;
    height: 60%;
}

.SS-card-container {
    height: 80%;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Center content horizontally within the card container */
    align-items: center; /* Center content vertically within the card container */
    width: 50%; 
    /* padding-top: 10%; */
    
}

.SS-form-container {
    height: 80%;
    align-self: end;
    /* background-color: rgb(201, 201, 201); */
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 3vw;
    /* padding-right: 4vw; */
    padding: 0vw 4vw;
    /* justify-content: center; */
    width: 40%; /* Set the right section to 30% width */
}

.SS-form-container button {
    padding: 3vh;
}

.SS-form-container button span {
    font-size: 1.1rem;
}

.SS-form-container [aria-label="Selector de fecha"] {
    padding: 3vh;
}

.SS-form-container [aria-label="Selector de fecha"] [role="presentation"] {
    font-size: 1.1rem;
    font-weight: 500;
}

.SS-form-container {
    display: flex; /* Make the form container a flexbox for vertical arrangement */
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add some space between elements within the form container */
}

.SS-button-container {
    text-align: center; /* Center the button horizontally */
}

/* .menu-lateral {
    position: absolute;
    z-index: 3;
    padding-top: 20vh;
} */

@media (max-width: 768px) {

    .SS-model {
        width: 100%;
        padding: 10%;
    }
    /* .container {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-right: 0;
    } */
    .SS-outer-container {
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center content vertically */
        margin: 0 auto;
    }

    .SS-card-container,
    .SS-form-container {
        width: 100%; /* Set all elements to full width on phone view */
        margin-right: 0px;
    }

    .SS-card-container {
        order: 1; /* Make card container appear first */
    }

    .SS-form-container {
        order: 3; /* Make form container appear last */
    }
}
