.cg-contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cg-contenedor-grafica {
    flex-grow: 1;
    position: relative;
}

.cg-titulo-grafica {
    font-size: max(1.2vw, 2vh);
    font-weight: 600;
    color: #313131;
}
