.container-videowall {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
    background: papayawhip;
}

.contaner-reservaciones {
    grid-column: span 1 / span 1;
}

.container-anuncios {
    grid-column: span 3 / span 3;
}
