.glassCardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 1005px) {
  .glassCard {
    min-width: 300px;
  }
}

@media screen and (min-width: 1006px) {
  .glassCard {
    width: 30vw;
  }
}

@media screen and (max-height: 615px) {
  .glassCard {
    min-height: 510px;
  }
}

@media screen and (min-height: 616px) {
  .glassCard {
    height: 80vh;
  }
}

.glassCard {
  z-index: 2;
}

.login-logo {
  height: 3.8vh;
  margin-right: 1vw;
}

.login-dreamlab-title {
  color: white;
  /* font-size: 25px; */
  font-size: max(2.5vh, 1.4vw);
  font-weight: bold;
}

.login-titulo {
  color: white;
  /* font-size: 28px; */
  font-size: max(3vh, 2vw);
  text-align: center;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  z-index: 4;
}

.blobs-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

@media screen and (orientation: landscape) {
  .blob-image {
    width: 35%;
  }

  .top-left-image {
    left: 7vw;
    top: -15vh;
  }

  .bottom-right-image {
    bottom: -25vh;
    right: 14vw;
  }
}

@media screen and (orientation: portrait) {
  .blob-image {
    height: 50%;
  }

  .top-left-image {
    left: -40%;
    top: -30%;
  }

  .bottom-right-image {
    bottom: -20%;
    right: -10%;
  }
}

.top-left-image {
  position: absolute;
  z-index: 1;
  transform: rotate(-109deg);
}

.bottom-right-image {
  position: absolute;
  z-index: 3;
}
