.rc-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 90%;
    background-color: #fff;
    border-radius: 2vh;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.rc-image-container {
    margin-left: 0.5vw;
    display: flex;
    width: 2.5vw;
    align-items: center;
}

.rc-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    width: 100%;
    height: 100%;
    padding-right: 1.5vw;
    overflow: hidden;
}

.rc-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 50%;
}

.rc-bot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 50%;
}

span {
    font-size: 3.2vh;
    font-family: "Karla", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rc-nombre {
    font-weight: 800;
}

.rc-horario {
    font-weight: 500;
}

.rc-sala {
    font-weight: 800;
}
