.main-details-div {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0px;
    min-width: 100%;
    min-height: 25vw;
    padding: 3%;
    padding-top: 14vh;
    padding-bottom: 0%;
    background-color: #123360;
    border: 2px solid rgba(0, 0, 0, 0.2); /* Opacidad del 50% */
    /* @Efrain Revisar si este borde todavia se quiere mantener. Antes de
    reordenar las propiedades no se visualizaba, tras reordenarlas, se
    visualiza. Como antes no se veia, lo comente por consistencia*/
    /* border-bottom: 3px solid white; */
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
}

.experience-details {
    width: 50%;
    padding-right: 2%;
    font-family: "Karla", sans-serif;
    font-weight: lighter;
    color: white;
}

.experience-name {
    margin-top: 7%;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}

.experience-description {
    margin-top: 1%;
    font-size: medium;
    text-align: justify;
}

.image {
    display: flex; /* Cambiado de table-cell a flex */
    justify-content: center; /* Alinea horizontalmente */
    align-items: center; /* Alinea verticalmente */
    overflow: hidden;
    width: 50%;
    min-height: 5vh;
    max-height: 45vh;
    margin: 0 auto;
    padding: 1.5%;
    background-image: url("https://dreamlabstorage.blob.core.windows.net/archivos/details_blur.png");
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.experience-image {
    display: inline-block;
    min-height: 21vw;
    max-height: 21vw;
}

.tags-details {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2.5vw;
}

.tag {
    flex: 0 0 auto;
    margin-top: 5%;
    margin-right: 3%;
    font-size: medium;
}

.boton-solicitud {
    position: absolute; /* Cambiado de fixed a absolute */
    bottom: 0; /* Lo posiciona en el fondo del contenedor padre */
    left: 0;
    right: 0;
    padding-bottom: 2.2%;
    text-align: center;
}

.boton-cerrar-detalles {
    transform: translateX(95%) translateY(60px);
}

@media (max-width: 1065px) {
    .experience-image {
        display: inline-block;
        min-height: 25vw;
        max-height: 25vw;
    }

    .tags-details {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 4vw;
    }
}

@media (max-width: 980px) {
    .tags-details {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 6vw;
    }
}

@media (max-width: 870px) {
    .image {
        background-size: 100%;
    }
}

@media (max-width: 820px) {
    .experience-image {
        display: inline-block;
        min-height: 28vw;
        max-height: 28vw;
    }

    .image {
        background-size: 95%;
    }

    .tags-details {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 5vw;
    }

    .boton-solicitud {
        position: absolute; /* Cambiado de fixed a absolute */
        bottom: 0; /* Lo posiciona en el fondo del contenedor padre */
        left: 0;
        right: 0;
        padding-bottom: 0%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .image {
        display: none;
    }

    .experience-details {
        width: 100%;
    }

    .experience-name {
        margin-top: 7%;
        font-size: large;
        font-weight: bold;
        text-transform: uppercase;
    }

    .experience-description {
        margin-top: 1%;
        font-size: 15px;
    }

    .experience-image {
        display: inline-block;
        min-height: 28vw;
        max-height: 28vw;
    }

    .tags-details {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 4vh;
    }

    .tag {
        flex: 0 0 auto;
        margin-top: 5%;
        margin-right: 3%;
        font-size: small;
    }

    .boton-solicitud {
        position: absolute; /* Cambiado de fixed a absolute */
        bottom: 0; /* Lo posiciona en el fondo del contenedor padre */
        left: 0;
        right: 0;
        padding-bottom: 0%;
        text-align: center;
    }

    .boton-cerrar-detalles {
        display: none;
    }
}

@media (max-width: 400px) {
    .experience-name {
        font-size: medium;
    }

    .experience-description {
        font-size: small;
    }
}

/*Animación hacia abajo*/
@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(10);
    }
}

/*Animación hacia arriba*/
@keyframes slide-out {
    from {
        transform: translateY(10);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

.fade-in {
    opacity: 0; /* Inicialmente, establece la opacidad en 0 para que el elemento esté oculto */
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Comienza con una opacidad de 0 */
    }
    to {
        opacity: 1; /* Aumenta la opacidad a 1 para hacer que el elemento aparezca gradualmente */
    }
}
