.main-container {
	position: relative;
	width: 100%;
	height: fit-content;
	padding-top: 17vh;
}

.top-section {
	padding-bottom: 0.1%;
	margin-inline: 9%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 490px) {
	.top-section {
		justify-content: start;
		column-gap: 15%;
		margin-bottom: 3%;
	}
}

.seleccion-material-boton-back {
	width: 3vw;
	height: auto;
	transform: translateX(-30px);
	cursor: pointer;
}

@media only screen and (max-width: 490px) {
	.seleccion-material-boton-back {
		transform: translateX(0px);
	}
}

.material-resumen-container {
	display: flex;
	align-items: center;
	width: 200%;
	height: 11vh;
	padding-left: 1%;
	margin-right: 4%;
	column-gap: 2vw;
	overflow-x: auto; /* Enable horizontal scrolling */
	scroll-behavior: smooth;
}

@media only screen and (max-width: 490px) {
	.material-resumen-container {
		display: none;
	}
}

/* Define scrollbar styles */
.material-resumen-container::-webkit-scrollbar {
	height: 8px;
  }
  
  /* Track */
.material-resumen-container::-webkit-scrollbar-track {
	background: none; 
  }
  
  /* Handle */
.material-resumen-container::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.525); 
	border-radius: 20px;
  }
  
  /* Handle on hover */
.material-resumen-container::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.7); 
  }

.bottom-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	margin: auto;
}

.card-container-wrapper {
	display: flex;
	align-items: center; /* Center the card container horizontally */
}

.card-container-sm {
	justify-self: center;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap; /* Cards will wrap to the next row */
	justify-content: left !important; /* Align cards to the start of the container */
	overflow-y: auto; /* Enable vertical scroll if needed */
	min-width: 80vw;
	height: 55vh; /* Set the height dynamically to half of the viewport height minus any additional padding */
	padding: 1.5% 1%; /* Added padding to prevent cards from touching the edges */
}

@media only screen and (max-width: 480px) {
	.card-container {
		margin-top: 4%;
	}
}

.search-bar-container {
	width: 60%;
}

.button-container-sm {
	width: 100%;
	padding: 3%;
	text-align: center;
}

/* 
@media only screen and (max-width: 480px) {
	.button-container-sm {
		margin-top: 6%;
	}
	.search-bar-container {
		margin-bottom: 4%;
	}
}


/* Define scrollbar styles */
.card-container-sm::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
.card-container-sm::-webkit-scrollbar-track {
	background: none; 
  }
  
  /* Handle */
.card-container-sm::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.525); 
	border-radius: 20px;
  }
  
  /* Handle on hover */
.card-container-sm::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.7); 
  }
  

