@media only screen and (orientation: portrait) {
    .sli-logro-item-icon {
        width: 75%;
        height: auto;
    }
}

@media only screen and (orientation: landscape) {
    .sli-logro-item-icon {
        width: 75%;
        height: auto;
    }
}

.sli-selected {
    border: 5px solid;
    border-radius: 100%;
}
