.contenedor-tipo-anuncio-selector{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 3vw;
    margin-top: 2%;
    padding: 1%;
    border-radius: 25px;
    font-family: "Karla", sans-serif;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.opcion-experiencia-anuncio-selector{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 10vw;
    height: 2vw;
    background: rgba(255, 255, 255, 0)/* Background color with transparency */;
    border: 1.5px solid rgb(255, 255, 255); /* Border color with transparency */;
    font-family: "Karla", sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;

    /* Radios de borde individualizados */
    border-top-left-radius: 25px;   
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.opcion-personalizado-anuncio-selector{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 10vw;
    height: 2vw;
    background: rgba(255, 255, 255, 0)/* Background color with transparency */;
    border: 1.5px solid rgb(255, 255, 255); /* Border color with transparency */;
    font-family: "Karla", sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;

    /* Radios de borde individualizados */
    border-top-left-radius: 0px;   
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.opcion-personalizado-anuncio-selector-pressed{
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 9.5vw;
    height: 2vw;
    background: rgb(255, 255, 255)/* Background color with transparency */;
    border: 1.5px solid rgba(255, 255, 255, 0.1); /* Border color with transparency */;
    border-radius: 25px;
    font-family: "Karla", sans-serif;
    color: rgb(63, 63, 63);
    cursor: pointer;
    text-align: center;

    /* Radios de borde individualizados */
    border-top-left-radius: 0px;   
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.opcion-experiencia-anuncio-selector-pressed{
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 9.5vw;
    height: 2vw;
    background: rgb(255, 255, 255)/* Background color with transparency */;
    border: 1.5px solid rgba(255, 255, 255, 0.1); /* Border color with transparency */;
    border-radius: 25px;
    font-family: "Karla", sans-serif;
    color: rgb(63, 63, 63);
    cursor: pointer;
    text-align: center;

    /* Radios de borde individualizados */
    border-top-left-radius: 25px;   
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}