.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    width: 95%;
    height: 11%;
    margin: 0 auto;
    padding: 1%;
    transition: top 5s ease-in-out;
    background: rgba(255, 255, 255, 0.06);
    font-family: "Karla", sans-serif;
}

@media only screen and (min-height: 1025px) {
    .navbar {
        height: 6vh;
    }
}

.navbar-positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* Establishes stacking context */
    z-index: 9;
    width: 100%;
    padding: 2rem;
    transition: top 5s ease-in-out;
}

.visible {
    top: 0; /* Display navbar at the top */
    transition: top 5s ease-in-out;
}

.hidden {
    top: -9rem; /* Hide navbar above the viewport */
    transition: top 5s ease-in-out;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
}

.logo {
    width: 33%;
    margin-right: 4%;
    padding-bottom: 2%;
    padding-left: 10%;
    cursor: pointer;
}

.dreamlab {
    padding-top: 1%;
    font-size: 100%;
    font-weight: 800;
    color: white;
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 40%; /* Adjust the width for smaller screens */
        padding-bottom: 1%; /* Adjust padding as needed */
        padding-left: 10%; /* Adjust padding as needed */
    }
    .dreamlab {
        display: none; /* Hide the Dream Lab text on phone screens */
    }
}

.user-avatar-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.bg-transparent {
    background-color: transparent !important;
}

.text-white {
    color: white !important;
}

.searchBar {
    outline: none;
    align-self: flex-end;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    width: 60%;
    height: 2.3rem; /* Adjusted height */
    padding: 0 20px 0 40px; /* Adjust for icon width and padding */
    background-color: transparent;
    background-image: url("../../images/magnifying-glass-icon.svg"); /* Path to your magnifying glass icon */
    background-repeat: no-repeat;
    background-position: 10% center; /* Adjust position as needed */
    background-size: 20px; /* Adjust size as needed */
    border: 1.5px solid white; /* Changed border width and added border style */
    border-radius: 25px;
    color: white;
    text-align: left; /* Center text horizontally */
}

.searchBar:focus {
    border-color: white; /* Change border color on focus */
}

.searchBar::placeholder {
    color: whitesmoke; /* Change placeholder color */
}

.searchContainer {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items vertically */
    position: relative;
    margin-left: auto;
    padding-right: 2rem;
}

@media only screen and (max-width: 480px) {
    .searchContainer {
        width: 90%; /* Adjust width for phone screens */
        margin: 0 auto; /* Center the search bar on phone screens */
    }
    .searchBar {
        width: 100%; /* Set full width on phone screens */
    }
}
