.landing-login-button-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items vertically */
    position: absolute;
    right: 2rem;
}

@media screen and (max-width: 431px) {
    .landing-login-button-container {
        right: 4.55rem;
    }
}

@media screen and (max-width: 391px) {
    .landing-login-button-container {
        right: 3.9rem;
    }
}

@media screen and (max-width: 391px) {
    .landing-login-button-container {
        right: 3.3rem;
    }
}

.landing-login-button {
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    height: 2.3rem; /* Adjusted height */
    padding-inline: 30px; /* Adjust for icon width and padding */
    background-color: white;
    border: 2px solid white;
    border-radius: 18px;
    color: #042E55;
    cursor: pointer;
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    transition-duration: 0.5s;
}

@media screen and (max-width: 431px) {
    .landing-login-button {
        padding-inline: 40px;
    }
}

.landing-login-button:hover {
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    height: 2.3rem; /* Adjusted height */
    padding: 0 30px 0 30px; /* Adjust for icon width and padding */
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 18px;
    font-family: "Karla", sans-serif;
    font-weight: bolder;
}