.centeredContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-results-container {
    width: 98%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 14vh;
    margin-left: 3%;
    row-gap: 3vh;
}