.sfd-contenedor {
    padding-top: 11vh;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sfd-boton-calendario {
    color: transparent;
    height: 5vh !important;
    display: flex;
}

.sfd-boton-calendario-label {
    color: white;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    font-size: max(1.5vh, 1.5vw);
}

.sfd-boton-calendario-icono {
    width: max(2vh, 1.8vw);
}
