.sfd-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    padding-top: 11vh;
}

.sfd-boton-calendario {
    display: flex;
    height: 5vh !important;
    color: transparent;
}

.sfd-boton-calendario-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 1vw;
    font-size: max(1.5vh, 1.5vw);
    font-family: "Karla", sans-serif;
    color: white;
    text-transform: uppercase;
}

.sfd-boton-calendario-icono {
    width: max(2vh, 1.8vw);
}
