@media screen and (orientation: landscape) {
    .rounded-button {
        width: 40%;
    }
}

@media screen and (orientation: portrait) {
    .rounded-button {
        width: 50%;
    }
}

.rounded-button {
    height: 4.5vh !important;
    background-color: white;
}

.button-label {
    font-size: max(1.5vh, 1vw);
    font-weight: 700;
    color: #042e55;
}
