.profile-container {
    /* align-items: center; */
    /* justify-content: center; */
    /* background: linear-gradient(180deg, #042e55 0%, #7b7afd 100%); */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-exterior-perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateX(-2.7%);
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin-top: 3%;
    margin-left: 2.2%;
}

.logros-div {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 30%;
    height: auto;
    min-height: 43vh;
    padding: 2%;
    background: rgba(
        255,
        231,
        231,
        0.06
    ); /* Background color with transparency */
    border: 1.5px solid rgba(255, 255, 255, 0.1); /* Border color with transparency */
    border-radius: 15px;
}

.logros-div-in {
    overflow-y: auto;
    max-height: 250px;
    padding-right: 3%;
}

.esfera-div {
    width: 30%;
    padding: 3%;
    padding-left: 4%;
    background-color: rgba(0, 255, 55, 0);
    border-radius: 20px;
}

.esfera-div-celular {
    display: none;
}

.reservaciones-div {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 30%;
    height: auto;
    min-height: 43vh;
    padding: 2%;
    background: rgba(
        255,
        231,
        231,
        0.06
    ); /* Background color with transparency */
    border: 1.5px solid rgba(255, 255, 255, 0.1); /* Border color with transparency */
    border-radius: 15px;
}

.reservaciones-div-in {
    overflow-y: auto;
    max-height: 250px;
    padding-right: 3%;
}

.reservaciones-div::before .logros-div::before {
    pointer-events: none;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    content: "";
    position: absolute;
    top: -1px; /* Adjust positioning to align with border */
    bottom: -1px; /* Adjust positioning to align with border */
    left: -1px; /* Adjust positioning to align with border */
    right: -1px; /* Adjust positioning to align with border */
    padding: 1px;
    background: linear-gradient(
        170deg,
        rgba(255, 231, 231, 0.46),
        rgba(255, 255, 255, 0.27),
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.3),
        rgba(115, 129, 255, 0.25),
        rgba(0, 7, 73, 0.31)
    );
    border-radius: 15px;
}

.sub {
    max-height: 100px;
    margin-bottom: 5%;
    font-weight: bold;
    color: white;
}

.logros-div-in::-webkit-scrollbar,
.reservaciones-div-in::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
}

.logros-div-in::-webkit-scrollbar-thumb,
.reservaciones-div-in::-webkit-scrollbar-thumb {
    background-color: rgba(
        255,
        255,
        255,
        0.3
    ); /* Color del "pulgar" del scroll */
    border-radius: 6px; /* Radio del borde del "pulgar" del scroll */
}

.botones-modo-celular {
    display: none;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.degradado-down {
    position: absolute; /* Establece posición absoluta */
    bottom: 0; /* Lo posiciona en la parte inferior del padre */
    left: 0;
    width: 100%;
    height: 40px; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(
        to bottom,
        transparent,
        #6f75e1 30%
    ); /* Crea un degradado de transparente a morado */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; /* Radio de borde en la esquina inferior izquierda */
}

.boton-atras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1%;
    margin-top: 6%;
    margin-bottom: 1%;
    margin-left: 3%;
    cursor: pointer;
}

.navbar-div-profile {
    margin-bottom: 7vh;
}

@media (max-width: 800px) {
    .sub {
        font-size: small;
    }
}

@media (max-width: 820px), (height: 1366px) {
    .boton-atras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 2%;
        margin-bottom: 5%;
        cursor: pointer;
    }

    .sub {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        font-size: medium;
    }

    .esfera-div {
        display: none;
    }

    .esfera-div-celular {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3%;
    }

    .logros-div {
        width: 45%;
        height: 28vh;
        min-height: 0vh;
        margin-top: 5%;
        margin-right: 3%;
    }

    .logros-div-in {
        overflow-y: auto;
        height: 21vh;
        min-height: 0vh;
        padding-right: 3%;
    }

    .reservaciones-div {
        width: 45%;
        height: 28vh;
        min-height: 0vh;
        margin-top: 5%;
    }

    .reservaciones-div-in {
        height: 21vh;
    }

    .degradado-down {
        background: linear-gradient(
            to bottom,
            transparent,
            #7477e6 30%
        ); /* Crea un degradado de transparente a morado */
    }
}

@media (height: 1366px) {
    .sub {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        font-size: x-large;
    }

    .reservaciones-div {
        height: 26vh;
        min-height: 0vh;
    }

    .logros-div {
        height: 26vh;
        min-height: 0vh;
    }

    .navbar-div-profile {
        margin-bottom: 3vh;
    }
}

@media (max-width: 500px) {
    .boton-atras {
        display: none;
    }

    .botones-modo-celular {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8%;
    }

    .esfera-div {
        width: 30%;
        padding: 3%;
        padding-left: 4%;
        background-color: rgba(0, 255, 55, 0);
        border-radius: 20px;
    }

    .esfera-div-celular {
        margin-top: 12%;
        margin-bottom: 3%;
    }

    .logros-div {
        display: none;
        width: 90%;
        height: 150px;
        min-height: 0vh;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .logros-div-in {
        overflow-y: auto;
        height: 6em;
        padding-right: 3%;
    }

    .reservaciones-div {
        display: none;
        width: 90%;
        height: 150px;
        min-height: 0vh;
    }

    .reservaciones-div-in {
        height: 6em;
    }
}

@media (max-width: 400px) {
    .sub {
        font-size: x-small;
    }

    .logros-div {
        width: 90%;
        height: 102px;
        min-height: 0vh;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .logros-div-in {
        overflow-y: auto;
        height: 4.3em;
        padding-right: 3%;
    }

    .reservaciones-div {
        width: 90%;
        height: 102px;
        min-height: 0vh;
    }

    .reservaciones-div-in {
        height: 4.3em;
    }

    .logros-div-in::-webkit-scrollbar,
    .reservaciones-div-in::-webkit-scrollbar {
        display: none;
        width: 7px; /* Ancho de la barra de desplazamiento */
    }

    .logros-div-in::-webkit-scrollbar-thumb,
    .reservaciones-div-in::-webkit-scrollbar-thumb {
        display: none;
        background-color: rgba(
            255,
            255,
            255,
            0.3
        ); /* Color del "pulgar" del scroll */
        border-radius: 6px; /* Radio del borde del "pulgar" del scroll */
    }
}

@media (max-width: 376px) {
    .esfera-div-celular {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: -1%;
    }
}
