.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 9rem;
  border-radius: 30px;
  background-color: white;
}

.login-button-label {
  color: #042e55;
  font-size: 1rem;
  font-weight: 700;
}
