.RIM-btn {
    background-color: white !important;
    color: #ac3e1b !important;
    border-color: #ac3e1b;
    padding: 2.3vh 0vh !important;
    border-radius: 2.2vh !important;
    border-width: 0.6vh !important;
    font-size: 2vh !important;
    font-weight: 700 !important;
    margin-left: 2vw;
    margin-right: 2vw;
}

.RIM-btn:hover {
    opacity: 1 !important;
    background-color: #ac3e1b !important;
    color: white !important;
}

.PMB-warning-icon {
    width: 3.3vh;
    height: 3.3vh;
}