.out-crear-anuncios-div{
    width: 100%;
    height: 100%;
}

.componente-visualizar-videowall-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elementos-creacion-anuncio{
    display: flex;
    flex-wrap: wrap;
    padding-top: 13.5vh;
}

.creacion-anuncio-columna-izq{
    margin-right: 3vw;
}

/*Pantalla regular (computadora)*/
@media (max-height: 700px) {
    .elementos-creacion-anuncio{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10.6vh;
    }
}

