.div-barra-progreso{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
}

.progress-bar {
    width: 88%;
    height: 12px;
    background-color: #f0f0f0;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); /* Sombras con opacidad */
}
  
.progress {
  height: 100%;
  background-color: #8792E2;
  transition: width 0.3s ease;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); /* Sombras con opacidad */
}
  
.fraction {
  font-family: 'Karla', sans-serif;
  font-size: small;
  font-weight: light;
  color: black;
  position: absolute;
  top: 0;
  margin-left: 106%;
  line-height: 30px;
  transform: translateY(-32%);
}

@media (max-width: 950px) {


  .progress-bar {
    width: 84%;
    height: 8px;
  }

  .fraction {
    font-size: x-small;
  }

}

@media (max-width: 780px) {
  .fraction {
    font-size: small;
  }

}

@media (max-width: 500px) {
  .fraction {
    font-size: x-small;
  }

  .div-barra-progreso{
    margin-top: 5%;
    margin-bottom: 2%;
  }
}


@media (max-width: 400px) {
  .progress-bar {
    width: 84%;
    height: 6px;
  }

  .fraction {
    font-size: xx-small;
  }

  .div-barra-progreso{
    margin-top: 4%;
    margin-bottom: 1%;
  }
}