.div-logro-bloqueado{
    background-color: #D9D9D9;
    border-radius: 100%;
    width: 100%;
    padding: 15%;
}

.div-logro-desbloqueado{
    background-color: #6771c1;
    border-radius: 100%;
    width: 100%;
    padding: 15%;
}

.logo-logro{
    opacity: 50%;
}