.div-exterior{
    background-color: brown;
    min-width: 30%;
    max-width: 40%;
    height: 80px;
    transform: translateX(-10%);

    background: rgba(255, 231, 231, 0.06); /* Background color with transparency */
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border: 1.5px solid rgba(255, 255, 255, 0.10); /* Border color with transparency */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 8%;

    font-family: 'Karla', sans-serif;
    color: white;
}

.div-exterior::before {
    content: "";
    position: absolute;
    top: -1px; /* Adjust positioning to align with border */
    left: -1px; /* Adjust positioning to align with border */
    right: -1px; /* Adjust positioning to align with border */
    bottom: -1px; /* Adjust positioning to align with border */
    border-radius: 15px;
    padding: 1px;
    pointer-events: none;
    background: linear-gradient(
        170deg,
        rgba(255, 231, 231, 0.46), 
                rgba(255, 255, 255, 0.27), 
                rgba(0, 0, 0, 0), 
                rgba(255, 255, 255, 0.3), 
                rgba(115, 129, 255, 0.25), 
                rgba(0, 7, 73, 0.31)
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.logo-div{
    width: 10%;
    opacity: 50%;
    cursor: pointer;
}

.div-usuario{
    margin-left: 6%;
}

.nombre-usuario{
    font-weight: 650;
    font-size: x-large;
    margin-bottom: -8px;
}

.apodo{
    font-weight: lighter;
    font-size:larger;

}