.div-exterior-perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 4%;
    margin-bottom: 5%;
    max-height: 120%;
    height: 120%;
    width: 105%;
    transform: translateX(-2.7%);
}

.logros-div{

    background: rgba(255, 231, 231, 0.06); /* Background color with transparency */
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border: 1.5px solid rgba(255, 255, 255, 0.10); /* Border color with transparency */

    width: 30%;
    border-radius: 20px;
    height: auto;
    padding: 2%;
}


.logros-div-in{
    overflow-y: auto;
    max-height: 250px;
    padding-right: 3%;
}

.esfera-div{
    background-color: rgba(0, 255, 55, 0);
    width: 30%;
    border-radius: 20px;
    padding: 3%;
    padding-left: 4%;
}

.esfera-div-celular{
    display: none;
}

.reservaciones-div{
    background: rgba(255, 231, 231, 0.06); /* Background color with transparency */
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border: 1.5px solid rgba(255, 255, 255, 0.10); /* Border color with transparency */
    
    width: 30%;
    border-radius: 20px;
    height: auto;
    padding: 2%;
}

.reservaciones-div-in{
    overflow-y: auto;
    max-height: 250px;
    padding-right: 3%;
}

.reservaciones-div::before .logros-div::before {
    content: "";
    position: absolute;
    top: -1px; /* Adjust positioning to align with border */
    left: -1px; /* Adjust positioning to align with border */
    right: -1px; /* Adjust positioning to align with border */
    bottom: -1px; /* Adjust positioning to align with border */
    border-radius: 15px;
    padding: 1px;
    pointer-events: none;
    background: linear-gradient(
        170deg,
        rgba(255, 231, 231, 0.46), 
                rgba(255, 255, 255, 0.27), 
                rgba(0, 0, 0, 0), 
                rgba(255, 255, 255, 0.3), 
                rgba(115, 129, 255, 0.25), 
                rgba(0, 7, 73, 0.31)
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.sub{
    margin-bottom: 5%;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: white;
    max-height: 100px;
}

.logros-div-in::-webkit-scrollbar,
.reservaciones-div-in::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
}

.logros-div-in::-webkit-scrollbar-thumb,
.reservaciones-div-in::-webkit-scrollbar-thumb  {
    background-color: rgba(255, 255, 255, 0.3); /* Color del "pulgar" del scroll */
    border-radius: 6px; /* Radio del borde del "pulgar" del scroll */
}

.botones-modo-celular {
    display: none;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.degradado-down {
    position: absolute; /* Establece posición absoluta */
    bottom: 0; /* Lo posiciona en la parte inferior del padre */
    left: 0;
    width: 100%;
    height: 40px; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(to bottom,  transparent, #4A4997 30%); /* Crea un degradado de transparente a morado */
    border-bottom-left-radius: 20px; /* Radio de borde en la esquina inferior izquierda */
    border-bottom-right-radius: 20px;
}

.boton-atras {
    max-width: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3%;
}

@media (max-width: 800px) {

    .sub{
       font-size: small;
    }
}

  @media (max-width: 820px),(height: 1366px){

    .boton-atras {
        max-width: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 5%;
    }    

    .sub{
       font-size: medium;
       margin-bottom: 3%;
       display: flex;
       justify-content: center;
    }

    .esfera-div{
        display: none;
    }

    .esfera-div-celular{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }

    .logros-div{
        width: 45%;
        margin-right: 3%;
        height: 28vh;
        margin-top: 5%;
    }

    .logros-div-in{
        overflow-y: auto;
        padding-right: 3%;
        height: 21vh;
    }
    
    .reservaciones-div{
        width: 45%;
        height: 28vh;
        margin-top: 5%;
    }

    .reservaciones-div-in{
        height: 21vh;
    }
    
}

@media (height: 1366px){

    .sub{
       font-size: x-large;
       margin-bottom: 3%;
       display: flex;
       justify-content: center;
    }
        
    .reservaciones-div{
        height: 26vh;
    }

    .logros-div{
        height: 26vh;
    }
}


@media (max-width: 500px) {

    .boton-atras {
        display: none;
    }    


    .botones-modo-celular {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }   

    .esfera-div{
        background-color: rgba(0, 255, 55, 0);
        width: 30%;
        border-radius: 20px;
        padding: 3%;
        padding-left: 4%;
    }
    
    .esfera-div-celular{
        margin-top: 4%;
        margin-bottom: 3%;
    }

    .logros-div{
        display: none;
        width: 90%;
        margin-bottom: 3%;
        margin-top: 5%;
        height: 150px;
    }

    .logros-div-in{
        overflow-y: auto;
        padding-right: 3%;
        height: 6em;
    }
    
    .reservaciones-div{
        display: none;
        width: 90%;
        height: 150px;
    }

    .reservaciones-div-in{
        height: 6em;
    }
    
}

@media (max-width: 400px) {

    .sub{
        font-size: x-small;
     }

    .logros-div{
        width: 90%;
        margin-bottom: 3%;
        margin-top: 5%;
        height: 102px;
    }

    .logros-div-in{
        overflow-y: auto;
        padding-right: 3%;
        height: 4.3em;
    }
    
    .reservaciones-div{
        width: 90%;
        height: 102px;
    }

    .reservaciones-div-in{
        height: 4.3em;
    }

    .logros-div-in::-webkit-scrollbar,
    .reservaciones-div-in::-webkit-scrollbar {
        width: 7px; /* Ancho de la barra de desplazamiento */
        display: none;
    }

    .logros-div-in::-webkit-scrollbar-thumb,
    .reservaciones-div-in::-webkit-scrollbar-thumb  {
        background-color: rgba(255, 255, 255, 0.3); /* Color del "pulgar" del scroll */
        border-radius: 6px; /* Radio del borde del "pulgar" del scroll */
        display: none;
    }
    
}
