.out-div {
    height: 100%;
    padding-top: 33%;
}

.reservaciones-div-celular {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    width: 90%;
    min-height: 70vh;
    margin-left: 5%;
    padding: 2%;
    padding-top: 8%;
    background: rgba(
        255,
        231,
        231,
        0.06
    ); /* Background color with transparency */
    border: 1.5px solid rgba(255, 255, 255, 0.1); /* Border color with transparency */
    border-radius: 15px;
}

.sub-celular {
    width: 90%;
    max-height: 100px;
    font-size: larger;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.reservaciones-div-in-celular {
    overflow-y: auto;
    max-height: 65vh;
    padding-right: 3%;
}

.reservaciones-div-in-celular::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
}

.reservaciones-div-in-celular::-webkit-scrollbar-thumb {
    background-color: rgba(
        255,
        255,
        255,
        0.3
    ); /* Color del "pulgar" del scroll */
    border-radius: 6px; /* Radio del borde del "pulgar" del scroll */
}

.back-subtitulo-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 12%;
}

.boton-back {
    display: flex;
    position: fixed;
    z-index: 5;
    left: 0;
    width: 4%;
    margin-left: 10%;
    cursor: pointer;
}

.degradado-down-celular {
    position: absolute; /* Establece posición absoluta */
    bottom: 0; /* Lo posiciona en la parte inferior del padre */
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(
        to bottom,
        transparent,
        #5e69c7 80%
    ); /* Crea un degradado de transparente a morado */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; /* Radio de borde en la esquina inferior izquierda */
}

@media (max-width: 376px) {
    .reservaciones-div-celular {
        min-height: 60vh;
    }

    .reservaciones-div-in-celular {
        max-height: 60vh;
    }
}
