.div-externo-reservacion {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    color: black;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 4%;
    align-items: center;
    cursor: pointer;
}

.sala-reservacion{
    font-weight: bolder;
    font-size: large;
    margin-bottom: -5px;
}

.linea{
    width: 100%;
    border-bottom: 1.5px solid #D2D2D2;
    margin-top: 3%;
    margin-bottom: 3%;
}

.div-fecha-reservacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
}

.hora-reservaion{
    width: 40%;
    margin-right: auto; /* Alinea a la derecha */
}

.dia-reservacion{
    font-weight: bold;
    width: 40%;
    margin-left: auto; /* Alinea a la derecha */
}

@media (max-width: 1200px) {

    .sala-reservacion{
        font-size: medium;
    }

    .experiencia-reservacion{
        font-size: small;
    }

    .div-fecha-reservacion{
        font-size: x-small;
    }
}

@media (max-width: 950px) {

    .sala-reservacion{
        font-size: small;
    }

    .experiencia-reservacion{
        font-size: x-small;
    }

    .div-fecha-reservacion{
        font-size: xx-small;
    }

    .hora-reservaion{
        width: 45%;
        margin-right: none; /* Alinea a la derecha */
    }
    
    .dia-reservacion{
        width: 45%;
        margin-left: none; /* Alinea a la derecha */
    }
}

@media (max-width: 800px) {

    .hora-reservaion{
        width: 100%;
        margin-right: none; /* Alinea a la derecha */
        padding-left: -100%;

    }
    
    .dia-reservacion{
        width: 100%;
        margin-left: none; /* Alinea a la derecha */
    }

}

@media (max-width: 780px) {
    .div-externo-reservacion {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .sala-reservacion{
        font-size: small;
    }

    .experiencia-reservacion{
        font-size: small;
    }

    .div-fecha-reservacion{
        font-size: small;
    }

    .hora-reservaion{
        width: 30%;
        margin-right: auto; /* Alinea a la derecha */
    }
    
    .dia-reservacion{
        width: 30%;
        margin-left: auto; /* Alinea a la derecha */
    }

    .linea{
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

@media (max-width: 500px){

    .sala-reservacion{
        font-size: small;
    }

    .experiencia-reservacion{
        font-size: small;
    }

    .div-fecha-reservacion{
        font-size: x-small;
    }

    .hora-reservaion{
        width: 45%;
        margin-right: auto; /* Alinea a la derecha */
    }
    
    .dia-reservacion{
        width: 45%;
        margin-left: auto; /* Alinea a la derecha */
    }
}

@media (max-width: 400px) {
    .div-externo-reservacion {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 4%;
        padding-bottom: 4%;
        border-radius: 15px;

    }
    .sala-reservacion{
        font-size: x-small;
    }

    .experiencia-reservacion{
        font-size: x-small;
    }

    .div-fecha-reservacion{
        font-size: x-small;
    }

    .hora-reservaion{
        width: 100%;
        margin-right: none; /* Alinea a la derecha */
        padding-left: -100%;

    }
    
    .dia-reservacion{
        width: 100%;
        margin-left: none; /* Alinea a la derecha */
        margin-top: -3%;

    }
}