.div-exterior-logro {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    color: black;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 4%;
    margin-left: 0px;
    align-items: center;
}

.icono-logro{
    width: 25%;
}

.div-info-logro{
    width: 65%;
    margin-left: 6%;
}

.nombre-logro-bloqueado{
    text-transform: uppercase;
    font-size: large;
    font-weight:900;
    color: #B7B7B7;
}

.nombre-logro-desbloqueado{
    text-transform: uppercase;
    font-size: large;
    font-weight:900;
}

.descripcion-logro{
    font-size: small;
    font-weight:light;
    line-height: 1.2;
}