.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 5vh;
    /* background: #fff; */

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cr-swiper-container {
    display: contents;
    position: relative;
}

.top-blur {
    position: absolute;
    top: 15.5%;
    height: 7vh;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, #042e55, #042e55c4, #042e5500);
    filter: blur(1vh);
}

.bottom-blur {
    position: absolute;
    bottom: 1.5%;
    height: 7vh;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to top, #042e55, #042e55c4, #042e5500);
    filter: blur(1vh);
}
