.boton-modal-exterior-cancelar-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 2.7vw;
    margin-right: 10%;
    background-color: white;
    cursor: pointer;
    border: 4px solid #ac3e1b;
    border-radius: 20px;
    font-family: "Karla", sans-serif;
    font-weight: 1000;
    color: #ac3e1b;
    text-transform: uppercase;
}

.boton-modal-exterior-cancelar-final:hover {
    background-color: #ac3e1b;
    border: 4px solid #ac3e1b;
    color: white;
}

.boton-modal-exterior-aceptar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 2.7vw;
    background-color: #1bac55;
    cursor: pointer;
    border: 4px solid #1bac55;
    border-radius: 20px;
    font-family: "Karla", sans-serif;
    font-weight: 1000;
    color: white;
    text-transform: uppercase;
}

.boton-modal-exterior-aceptar:hover {
    background-color: white;
    border: 4px solid #1bac55;
    color: #1bac55;
}

.boton-modal-exterior-cancelar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 4.7vh;
    background-color: #ac3e1b;
    cursor: pointer;
    border: 4px solid #ac3e1b;
    border-radius: 25px;
    font-family: "Karla", sans-serif;
    font-weight: 1000;
    color: white;
    text-transform: uppercase;
}

.boton-modal-exterior-cancelar:hover {
    background-color: white;
    border: 4px solid #ac3e1b;
    color: #ac3e1b;
}


@media (max-width: 1200px) {
    .boton-modal-exterior-cancelar-final {
        font-size: small;
        height: 5vh;
        width: 15vw;
    }
     
    .boton-modal-exterior-aceptar {
        font-size: small;
        height: 5vh;
        width: 15vw;
    }

    .boton-modal-exterior-cancelar {
        font-size: small;
        width: 35vh;
        height: 4.5vh;
    }
}

@media (max-width: 900px) {
    .boton-modal-exterior-cancelar-final {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 4vh;
        margin-right: 0%;
        margin-bottom: 4%;
        background-color: white;
        cursor: pointer;
        border: 4px solid #ac3e1b;
        border-radius: 20px;
        font-family: "Karla", sans-serif;
        font-weight: 1000;
        color: #ac3e1b;
        text-transform: uppercase;
        font-size: large;
    }
        
    .boton-modal-exterior-aceptar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 4vh;
        background-color: #1bac55;
        cursor: pointer;
        border: 4px solid #1bac55;
        border-radius: 20px;
        font-family: "Karla", sans-serif;
        font-weight: 1000;
        color: white;
        text-transform: uppercase;
        font-size: large;
    }
    
    .boton-modal-exterior-cancelar {
        font-size: large;
        width: 35vh;
        height: 5vh;
    }
}

@media (max-width: 500px) {
    .boton-modal-exterior-cancelar-final {
        width: 60vw;
        height: 4.5vh;
        margin-right: 0%;
        margin-bottom: 3%;
        border-radius: 20px;
        font-size: small;
    }
        
    .boton-modal-exterior-aceptar {
        width: 60vw;
        height: 4.5vh;
        border-radius: 20px;
        font-size: small;
    }

    .boton-modal-exterior-cancelar {
        font-size: small;
        border-radius: 20px;
        width: 30vh;
        height: 5vh;
    }
    
}

@media (max-width: 400px) {

    .boton-modal-exterior-cancelar-final {
        width: 60vw;
        height: 4.5vh;
        margin-right: 0%;
        margin-bottom: 3%;
        font-size: small;
    }
    
    .boton-modal-exterior-aceptar {
        width: 60vw;
        height: 4.5vh;
        font-size: small;
    }

    .boton-modal-exterior-cancelar{
        border-radius: 20px;
        font-size: x-small;
    }
    
}